* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #181818;
    padding-top: 24px;
    padding-bottom: 24px;
}

header .container {
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type {
    margin-left: 31px;
}

header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
}

/*main banner*/

.main_banner {
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}

.main_banner article {
    max-width: 580px;
    text-align: center;
}

.main_banner article h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner article h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.main_banner article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*sunset*/
.sunset {
    background-image: url("../images/mountine.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 62px;
    box-sizing: border-box;
}

.sunset article {
    max-width: 298px;
}

.sunset article h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sunset article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*mostera*/
.monstera {
    background-image: url("../images/monstera.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 62px;
    box-sizing: border-box;
}

.monstera article {
    max-width: 273px;
}

.monstera article h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.monstera article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*mountines*/
.mountines {
    background-image: url("../images/mountines.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 62px;
    box-sizing: border-box;
}

.mountines article {
    max-width: 273px;
}

.mountines article h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mountines article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.last_banner {
    background-color: black;
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-height: 414px;
}

.last_banner article {
    max-width: 571px;
    text-align: center;
}

.last_banner article h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.last_banner article h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.last_banner article a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    background-color: white;
    border-radius: 14px;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.last_banner a::before {
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 45%;
    margin-left: 4px;
    margin-right:6px;
}
.what_we_do{
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 84px;
}
.what_we_do .container{
    max-width: 1168px;
    margin: auto;
}
.what_we_do h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.what_we_do .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do .cards article{
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
.what_we_do .cards article img{
    display: block;
    width: 100%;
}
.what_we_do .description h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: left;
}
.what_we_do .description p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.what_we_do article a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    background-color: white;
    border-radius: 14px;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.what_we_do a::before {
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 45%;
    margin-left: 4px;
    margin-right:6px;
}
.past_clients {
    padding-top:113px;
    padding-bottom:140px;
    background-color:#000000;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.past_clients article {
    max-width: 1076px;
    text-align: center;
}
.past_clients article h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.past_clients article h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.past_clients div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1076px;
}